/*#box1{
    height: 100px;
    width:200px;
    background-color: green;
    font-size: 10px;
    
}
#box2{
  width: 30%;
    background-color: yellow;
    margin-left: 10%;
    font-size: 2em;
    width: 5rem;
    height: 100vh;
}*/
div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}
/*#box1{
    position: static;
}
#box2{
    position: relative;
    top:10px;
 left: 20px;
}
#box3{
    position: absolute;
    bottom: 20px;
}*/
body{
    background-image: url("cat_photo.jpg.jpg");
    background-size: cover;
}
#box1{
    background-image: url("cat_photo.jpg.jpg");
    background-size: cover;
}
#box2{
    
}